In [17]:
import pandas as pd
import numpy as np

print("Excersice 1")
arr_2 = np.random.randint(10,50, size=(2,3))
df = pd.DataFrame(arr_2, ["A", "B"],["C","D","E"])
print(df)

print()
print("Excersice 2")
dict_3 = {"one": pd.Series([1.,2.,3.], index = ["a","b","c"]),
          "two": pd.Series([1.,2.,3.,4.], index = ["a","b","c","d"])}

df_2 = pd.DataFrame(dict_3)
print(df_2)

pd.DataFrame.from_dict(dict([("A",[1,2,3]),("B",[4,5,6])]))

Excersice 1
    C   D   E
A  36  30  38
B  18  14  37

Excersice 2
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

   A  B
0  1  4
1  2  5
2  3  6