In [1]:
#  Time 2:32 / 4:57:57

import pandas as pd
df = pd.read_csv("words.csv",index_col = "word")
df.head()

            count
word
the   23135851162
of    13151942776
and   12997637966
to    12136980858
a      9081174698

In [2]:
# How many elements does this dataframe have?
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333333 entries, the to golgw
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   count   333333 non-null  int64
dtypes: int64(1)
memory usage: 5.1+ MB

In [3]:
df.shape

(333333, 1)

In [4]:
# What is the count for "Whatever"
# df accepts the following:  df.loc["index", "columns"]
df.loc["whatever"]
df.loc["whatever","count"]

31869767

In [5]:
# What is the higher possible value of a word?
df["count"].max()

23135851162

In [6]:
df.max()

count    23135851162
dtype: int64

In [7]:
# Get some stadistics
df.describe()

              count
count  3.333330e+05
mean   1.764374e+06
std    6.629987e+07
min    1.271100e+04
25%    2.122400e+04
50%    4.151900e+04
75%    1.365760e+05
max    2.313585e+10

In [8]:
# Which of the following words have a count from 1,000,000 to 1,100,000 ?
df[(df["count"].astype(int) >= 1000000) & (df["count"].astype(int) <= 1100000)]

                count
word
preached      1099944
midlothian    1099931
mica          1099816
follando      1099727
instr         1099652
...               ...
bebop         1000401
streamlining  1000369
dazzle        1000224
trainings     1000194
seeding       1000093

[1418 rows x 1 columns]

In [9]:
# Multiple value look
df.loc[[
    "dazzle",
    "bebop",
    "whatever"
]]

             count
word
dazzle     1000224
bebop      1000401
whatever  31869767

In [10]:
# What is the higher possible count of a word?
df.describe()

              count
count  3.333330e+05
mean   1.764374e+06
std    6.629987e+07
min    1.271100e+04
25%    2.122400e+04
50%    4.151900e+04
75%    1.365760e+05
max    2.313585e+10

In [11]:
# What is the word with a count of 31869767 ?
df[df["count"] == 31869767]

             count
word
whatever  31869767

In [12]:
df.sort_values(by=["count"]) # Lower to Greater
df.sort_values(by=["count"], ascending = False) # Greater to Lower

             count
word
the    23135851162
of     13151942776
and    12997637966
to     12136980858
a       9081174698
...            ...
ooahl        12711
omai         12711
okgol        12711
okgle        12711
golgw        12711

[333333 rows x 1 columns]

In [13]:
#  What is the most common value?
df["count"].describe() # Does not return mode

count    3.333330e+05
mean     1.764374e+06
std      6.629987e+07
min      1.271100e+04
25%      2.122400e+04
50%      4.151900e+04
75%      1.365760e+05
max      2.313585e+10
Name: count, dtype: float64

In [14]:
df["count"].mode()

0    12711
Name: count, dtype: int64

In [15]:
df["count"].mode()[0]

12711

In [16]:
df["count"].value_counts()

count
12711     152
21536     146
12712     143
21534     119
12714     115
         ...
301238      1
301233      1
301232      1
301210      1
138052      1
Name: count, Length: 158418, dtype: int64

In [34]:
df["count"].value_counts().head()

count
12711    152
21536    146
12712    143
21534    119
12714    115
Name: count, dtype: int64

In [36]:
df.loc[df["count"] == 12711].head(10)

                   count
word
yyt                12711
yuaoo              12711
yoooog             12711
yoohl              12711
yooal              12711
yhaoop             12711
yaoob              12711
wwwsexdrugs        12711
wwwphotogalleries  12711
wwwlips            12711

In [38]:
df.loc[df["count"] == 12711].sample(10)

                   count
word
wwwlips            12711
lollge             12711
oofol              12711
wwwphotogalleries  12711
hyundaecard        12711
gooogla            12711
ogoba              12711
googgol            12711
oooogp             12711
hogoa              12711

In [ ]:
# What is the shortest  word with the count of 12711?
df.loc[df["word"]]